@import 'helpers';
@import 'globals';



.card_foto{
    margin: 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px rgb(110, 109, 109);

    .foto_produto{
        padding: 0;
        min-height: 380px;
        max-height: 380px;
    }
}

.sobre_produto {

    .titulo_produto{
        color: $titulo;
        font-size: 27px;
        margin-bottom: 4px;
    }
    .subtitulo_produto{
        color: $subtitulo;
        font-size: 20px;
    }
}

footer {
    .logo_guga{
        max-height: 30px;
    }

    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
      font-size:30px;
        box-shadow: 2px 2px 3px #999;
      z-index:100;
    }
    
    .my-float{
        margin-top:16px;
        &:hover{
            color: $titulo
        }
    }
}









.escondeSesao{
    display:none;
}
.invisivel{
    opacity: 0;
    transition: opacity .13s ease-in-out;
}